/* 
Command line Colors
*/
$mildgrey: #F8F9FA;
$grey: #DEE2E6;
$stronggrey: #ADB5BD;
$milddark: #495057;
$dark: #212529;
$white: #fff;
$green: rgb(0, 128, 0);
$brightYellow: #fce94f;

$monoton: "Monoton", "cursive";
$smoochSans: "Smooch Sans", "sans-serif";
$ibmplexmono: "IBM Plex Mono", "monospace";
/* 
    Logo Font Size
*/

$logofontSize: 30px;

/* Default Styles */
$rootfontsize: 16px;


