&--header{
    &__logo{
        font-family: $monoton;
        font-size: $logofontSize;
    }
    &__social{
        & svg{
            height: 20px;
            width:20px;
        }

        font-family: $smoochSans;
        text-transform: uppercase;

        & a:hover{
            text-decoration: underline;
            transition: ease all 240ms;
        }
    }
}